:root{
    --prymary-color: #FF42A5;
    --secondary-color: #0B0223;
    --third-color: #8758F1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
nav{
    padding: 45px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.nav-icon{
    width: 5rem;
    height: 2.4rem;
}
.nav-title{
    font-size: 2.5rem;
}
.nav-span{
   color: var(--prymary-color); 
}
nav ul{
    display: flex;
    gap: 1.8rem;
    margin-left: 220px;
    
}
nav ul li{
    list-style: none;
}
.list-container{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 0.5rem;
    width: 200px;
    height: 45px;
/* margin-bottom: 20px; */
    
}
.banner-container{
    padding: 20px 200px 45px 240px;
    display: flex;
   justify-content: space-between;
    align-items: center;
   background-image: url(./images/group-14.png);
   background-size: contain;
   background-repeat: no-repeat;
   
    
}
.banner-photo{
    max-width: 450px;
    max-height: 410px;
    margin-left: 2rem;
    margin-top: 20px;

}
  

.banner-title{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 2.5rem;
}
.goat-title{
    background-image: linear-gradient(180deg, #F948B2 10%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.2rem;
    font-weight: 800;
}
.banner-icon-text{
    padding: 1rem 0;
}
.btn{
    display: inline-flex;
    padding: 0.7rem 1.7rem;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 48px;
    border: none;
    background-color: var(--prymary-color);
    color: white;
}
.btn-color{
    background-color: #4EC5F7;
}
.fa-download{
    margin: 0.8rem 0;
}
main{
    padding: 100px 240px;
}
.online-content{
    text-align: center;
    
}
.online-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}
.online-span{
    background: linear-gradient(180deg, #F948B2 10%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-discription{
    font-weight: 400;
    font-size: 0.9rem;
    color: #534C64;
    margin-top: 0.8rem;
}
.backround-img{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(./images/Rectangle\ 7.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 234px;
    border: 1.5px solid #F948B2;

}
.online-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2.5rem;
    
    
}
.online-backround-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50% 0;
    gap: 1rem;
    
}
.online-img{
    width: 200px;
    height: 234px;
}
.watch-now{
    color: var(--prymary-color);
}
.inline-img-discription{
    color: #534C64;
    font: 500;
    font-size: 0.8rem;
    margin-top: 1rem;
}
.watch-now-discription{
    color: #534C64;
    font: 500;
    font-size: 0.8rem;
}







@media screen and (max-width: 576px){
    nav{
        flex-direction: column;
        gap: 2.5rem;
        width: 100%;
        padding: 20px;
    }
    nav ul{
        margin-left: 20px;
        flex-direction: column;
    }
    .list-container{
        margin-left: 1.2rem;
        
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 20px;
        background-image: none;
    }
    .banner-photo{
        margin: 1.5rem 0;
        width: 270px;
        height: 265px;
    }
    main{
        padding: 20px;
    }
    .online-container{
        flex-direction: column;
        margin-left: 80px;
    }
    .backround-img{
        width: 200px;
        height: 280px;
    }
}       
           
        
        
  
        
    
    
    

@media screen and (min-width: 576px) and (max-width: 992px){
    nav{
        flex-direction: column;
        gap: 3.2rem;
        width: 100%;
    }
    nav ul{
        margin-left: 20px;
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 20px;
        background-image: none;
    }
    .banner-photo{
        margin: 1.5rem 0;
    }
    main{
        padding: 20px;
    }
    .online-container{
        flex-wrap: wrap;
        padding:  35px 120px;
    }
    .backround-img{
        width: 210px;
        height: 280px;
    }
    .inline-img-discription{
        font-size: 0.5rem;
    }
    .watch-now-discription{
        
        font-size: 0.5rem;
    }
    .online-img{
        width: 210px;
        height: 280px;
    }
    
        
}